:root {
    --grey-text: #5f6368;
    --grey-icon: #9aa0a6;
    --grey-btn: #303134;
    --white-element: white;
    --red-text: #e85756;
    --red-input: #f02849;
    --red-background-alert: #fed8d7; 
    --green-star: rgb(38, 166, 65);
    --link-text: rgb(68, 147, 248);
    --black-background: #0d1117;
}
